// Estilos base

body {
  font-family: "Montserrat", sans-serif;
  background: $color-white;
  color: $color-black;
  height: auto;
  min-height: 100vh;
  /* Sin overflow forzado, solo en desktop */
}


html {
  min-height: 100vh;
  /* Sin overflow forzado, solo en desktop */
}