// Breakpoints para formatos responsivos
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// Mixins para cada formato
@mixin xs {
  @include media('(max-width: #{($breakpoint-xs - 0.02)}px)') {
    @content;
  }
}

@mixin sm {
  @include media('(min-width: #{$breakpoint-xs}) and (max-width: #{($breakpoint-sm - 0.02)}px)') {
    @content;
  }
}

@mixin md {
  @include media('(min-width: #{$breakpoint-sm}) and (max-width: #{($breakpoint-md - 0.02)}px)') {
    @content;
  }
}

@mixin lg {
  @include media('(min-width: #{$breakpoint-md}) and (max-width: #{($breakpoint-lg - 0.02)}px)') {
    @content;
  }
}

@mixin xl {
  @include media('(min-width: #{$breakpoint-lg})') {
    @content;
  }
}

// Mixin para media queries flexibles
@mixin media($query) {
  @media #{$query} {
    @content;
  }
}

// Mixins SCSS
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}