// Variables SCSS
$color-white: #e1dfea; // Color blanco
$color-black: #222; // Color negro
$font-stack: 'Montserrat', sans-serif;
$pantone-p120-5u: rgb(51, 145, 170); // Pantone P120-5 U
$pantone-p120-5u33: rgba(51, 145, 170,0.3); // Pantone P120-5 U
$pantone-mix-1: rgb(25, 114, 133); // Intermedio entre P120-5 U y P123-16 U
$pantone-p123-16u: rgb(0, 84, 97); // Pantone P123-16 U
$pantone-mix-2: rgb(35, 67, 80);   // Intermedio entre P123-16 U y B 7693 U
$pantone-b7693u: rgb(20, 50, 63);   // Pantone B 7693 U
$pantone-p120-5u-dark: rgb(40, 118, 139); // Pantone P120-5 U más obscuro
$pantone-mix-1-dark: rgb(16, 79, 94); // Intermedio entre P120-5 U y P123-16 U más obscuro
$pantone-p123-16u-dark: rgb(0, 76, 88); // Pantone P123-16 U más obscuro
$pantone-mix-2-dark: rgb(29, 57, 68);   // Intermedio entre P123-16 U y B 7693 U más obscuro
$pantone-b7693u-dark: rgb(15, 38, 48); // Pantone B 7693 U más obscuro
$shadow-4layer: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.16), 0 4px 8px rgba(0,0,0,0.10), 0 8px 16px rgba(0,0,0,0.08);
$color-label: #1976a5; // Color para etiquetas y títulos
