<div class="container" id="snackbars-container">
    <div class="notification notification--login-success" style="display:none;">
        <div class="notification__body">
            <img src="/static/assets/img/icons/check.svg" alt="Success Icon" class="notification__icon"
                onerror="this.onerror=null;this.src='/static/assets/img/icons/check.svg'">
            <span class="notification__message">¡Bienvenido de nuevo!</span>
        </div>
        <div class="notification__progress"></div>
    </div>
    <div class="notification notification--error" style="display:none;">
        <div class="notification__body">
            <img src="/static/assets/img/icons/error.svg" alt="Error Icon" class="notification__icon">
            <span class="notification__message">Error al enviar el formulario. Por favor, inténtalo de nuevo.</span>
        </div>
        <div class="notification__progress"></div>
    </div>
    <div class="notification notification--success" style="display:none;">
        <div class="notification__body">
            <img src="/static/assets/img/icons/check.svg" alt="Success Icon" class="notification__icon">
            <span class="notification__message">Certificado agregado de forma éxitosa!</span>
        </div>
        <div class="notification__progress"></div>
    </div>
    <div class="notification notification--info" style="display:none;">
        <div class="notification__body">
            <img src="/static/assets/img/icons/info.svg" alt="Info Icon" class="notification__icon">
            <span class="notification__message">Cambios guardados con éxito!</span>
        </div>
        <div class="notification__progress"></div>
    </div>
    <div class="notification notification--warning" style="display:none;">
        <div class="notification__body">
            <img src="/static/assets/img/icons/warning.svg" alt="Warning Icon" class="notification__icon">
            <span class="notification__message">Algo salio mal. Por favor, inténtalo de nuevo más tarde.</span>
        </div>
        <div class="notification__progress"></div>
    </div>
    <div class="notification notification--file" style="display:none;">
        <div class="notification__body">
            <img src="/static/assets/img/icons/file.svg" alt="File Upload Icon" class="notification__icon">
            <span class="notification__message">Archivo cargado de forma éxitosa!</span>
        </div>
        <div class="notification__progress"></div>
    </div>
    <div class="notification notification--file-error" style="display:none;">
        <div class="notification__body">
            <img src="/static/assets/img/icons/error.svg" alt="Error Icon" class="notification__icon">
            <span class="notification__message">Error al cargar el archivo. Por favor, inténtalo de nuevo.</span>
        </div>
        <div class="notification__progress"></div>
    </div>
    <div class="notification notification--user-created" style="display:none;">
        <div class="notification__body">
            <img src="/static/assets/img/icons/user-check.svg" alt="Info Icon" class="notification__icon">
            <span class="notification__message">Usuario creado de forma exitosa!</span>
        </div>
        <div class="notification__progress"></div>
    </div>
    <div class="notification notification--signup-success" style="display:none;">
        <div class="notification__body">
            <img src="/static/assets/img/icons/user-check.svg" alt="Success Icon" class="notification__icon">
            <span class="notification__message">¡Usuario registrado exitosamente!</span>
        </div>
        <div class="notification__progress"></div>
    </div>
    <div class="notification notification--user-error" style="display:none;">
        <div class="notification__body">
            <img src="/static/assets/img/icons/error.svg" alt="Error Icon" class="notification__icon">
            <span class="notification__message">Error al crear el usuario. Por favor, inténtalo de nuevo.</span>
        </div>
        <div class="notification__progress"></div>
    </div>
</div>