<div class="container">
    <div class="notification notification--login-success">
        <!--notificacion de éxito al iniciar sesión-->
        <div class="notification__body">
            <img src="/static/assets/img/icons/success.svg" alt="Success Icon" class="notification__icon">
            <span class="notification__message">¡Bienvenido de nuevo!</span>
        </div>
        <div class="notification__progress"></div>
        <div class="notification notification--error">
            <!--notificacion de error al iniciar sesión-->
            <div class="notification__body">
                <img src="/static/assets/img/icons/error.svg" alt="Error Icon" class="notification__icon">
                <span class="notification__message">Error al enviar el formulario. Por favor, inténtalo de nuevo.</span>
            </div>
            <div class="notification__progress"></div>
        </div>
        <div class="notification notification--success">
            <!--notificacion para cuando se agrega de forma éxitosa un nuevo certificado-->
            <div class="notification__body">
                <img src="/static/assets/img/icons/check.svg" alt="Success Icon" class="notification__icon">
                <span class="notification__message">Certificado agregado de forma éxitosa!</span>
            </div>
            <div class="notification__progress"></div>
        </div>
        <div class="notification notification--info">
            <!--notificacion de cambios al editar un certificado-->
            <div class="notification__body">
                <img src="/static/assets/img/icons/info.svg" alt="Info Icon" class="notification__icon">
                <span class="notification__message">Cambios guardados con éxito!</span>
            </div>
            <div class="notification__progress"></div>
        </div>
        <div class="notification notification--warning">
            <!--notificacion de error al agregar un nuevo certificado-->
            <div class="notification__body">
                <img src="/static/assets/img/icons/warning.svg" alt="Warning Icon" class="notification__icon">
                <span class="notification__message">Algo salio mal. Por favor, inténtalo de nuevo más tarde.</span>
            </div>
            <div class="notification__progress"></div>
        </div>
        <div class="notification notification--file">
            <!--notificacion para cuando se edita o agrega el documento de un certificado-->
            <div class="notification__body">
                <img src="/static/assets/img/icons/file.svg" alt="File Upload Icon" class="notification__icon">
                <span class="notification__message">Archivo cargado de forma éxitosa!</span>
            </div>
            <div class="notification__progress"></div>
        </div>
        <div class="notification notification--file-error">
            <!--notificacion de error al cargar un archivo-->
            <div class="notification__body">
                <img src="/static/assets/img/icons/error.svg" alt="Error Icon" class="notification__icon">
                <span class="notification__message">Error al cargar el archivo. Por favor, inténtalo de nuevo.</span>
            </div>
            <div class="notification__progress"></div>
        </div>
        <div class="notification notification--user-created">
            <!--notificacion para usuario creado (dev-panel)-->
            <div class="notification__body">
                <img src="/static/assets/img/icons/user-check.svg" alt="Info Icon" class="notification__icon">
                <span class="notification__message">Usuario creado de forma exitosa!</span>
            </div>
            <div class="notification__progress"></div>
        </div>
        <div class="notification notification--user-error">
            <!--notificacion de registro exitoso (sign up)-->
            <div class="notification notification--signup-success">
                <div class="notification__body">
                    <img src="/static/assets/img/icons/user-check.svg" alt="Success Icon" class="notification__icon">
                    <span class="notification__message">¡Usuario registrado exitosamente!</span>
                </div>
                <div class="notification__progress"></div>
            </div>
            <!--notificacion de error al crear un usuario (dev-panel)-->
            <div class="notification__body">
                <img src="/static/assets/img/icons/error.svg" alt="Error Icon" class="notification__icon">
                <span class="notification__message">Error al crear el usuario. Por favor, inténtalo de nuevo.</span>
            </div>
            <div class="notification__progress"></div>
        </div>
    </div>