<div class="ema-container">
  <section class="dynamic-section ema-section">
    <h1 class="section-title">Acreditaciones EMA</h1>
    <div class="section-content">
        <div class="ema-96-13">
            <a href="../assets/docs/ACREDITACION ISO 9001  17021-1.pdf">
                <button>
                    <img src="../assets/img/96-13.png" alt="EMA 96-13" class="ema-logo" />
                </button>
            </a>
        </div>
        <div class="ema-96-20">
            <a href="../assets/docs/ACREDITACION ISO 27001  17021-1.pdf">
                <button>
                    <img src="../assets/img/96_20.png" alt="EMA 96-20" class="ema-logo" />
                </button>
            </a>
        </div>
        <div class="ema-96-2IAF">
            <a href="../assets/docs/ACREDITACION ISO 37001.pdf">
                <button>
                    <img src="../assets/img/96_20IAF.png" alt="EMA 96-20IAF" class="ema-logo" />
                </button>
            </a>
        </div>
    </div>
  </section>