<footer class="footer-section">
  <div class="footer-triangle"></div>
  <div class="footer-content container">
    <div class="footer-logo-social">
      <div class="footer-logo-col">
        <img src="./assets/LACS-Comp.png" alt="LACS Logo" class="footer-logo" />
        <ul class="footer-social">
          <li class="icon facebook">
            <a href="https://www.facebook.com/LACSmx/" target="_blank" aria-label="Facebook" class="footer-social-link"><i class="fa-brands fa-facebook-f"></i></i></a>
          </li>
          <li class="icon X">
            <a href="https://x.com/SystemsLatin" target="_blank" aria-label="X" class="footer-social-link"><i class="fa-brands fa-x-twitter"></i></a>
          </li>
          <li class="icon whatsapp">
            <a href="https://wa.me/5215570472422" target="_blank" aria-label="WhatsApp" class="footer-social-link"><i class="fa-brands fa-whatsapp"></i></i></a>
          </li>
          <li class="icon google-maps">
            <a href="https://maps.app.goo.gl/3KpCwUMfCdGTCgCE9" target="_blank" aria-label="Google Maps" class="footer-social-link"><i class="bi bi-geo-alt-fill"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-options">
      <div class="footer-options-col">
        <h3>Más sobre nosotros</h3>
        <ul class="footer-options-list">
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Valores</a></li>
          <li><a href="#">Nuestras acreditaciones</a></li>
        </ul>
      </div>
      <div class="footer-options-col">
        <h3>Clientes</h3>
        <ul class="footer-options-list">
          <li><a href="#">Clientes certificados</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Política de confidencialidad</a></li>
        </ul>
      </div>
      <div class="footer-options-col">
        <h3>Reglamentos</h3>
        <ul class="footer-options-list">
          <li><a href="#">Reglamento de uso de marca</a></li>
          <li><a href="#">Reglamento de empresa certificada</a></li>
          <li><a href="#">Procedimiento de atencion de quejas</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-texture"></div>
    <div class="footer-copy">
      <span>&copy; 2025 Latin America Certification & Systems. Todos los derechos reservados.</span>
    </div>
  </div>
</footer>
