// Estilos base
body {
  font-family: "Montserrat", sans-serif;
  background: #f8f9fa;
  color: #222;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden; /* Evita scroll lateral */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

