// Asegura que el nav-item de servicios tenga position: relative
.navbar-nav .nav-item {
  position: relative;
}
.navbar-custom .nav-link:hover {
  color: $pantone-p120-5u;
  text-decoration: none;
}
// Estilos personalizados para la barra de navegación
 .navbar-custom {
  z-index: 5000;
  .collapse.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  background: $pantone-b7693u;
  width: 100vw;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  .navbar-brand img {
    border-radius: 8px;
    filter: brightness(0) invert(1);
    width: calc(10rem + 40px);
    margin: 5px;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
    flex: 1 1 auto;
  }
  .nav-item {
    display: flex;
    align-items: center;
    margin: 0 2.8rem;
  }
  cursor: default;
  .nav-link {
    color: $color-white;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $pantone-p120-5u;
      text-decoration: none;
    }
  }
  .btn-outline-light {
    border-color: $pantone-b7693u;
    color: $color-white;
    text-decoration: none;
    margin: 20px;
    &:hover {
      color: $pantone-p120-5u;
      border-color: $pantone-p120-5u;
      text-decoration: none;
    }
  }
}

.preload {
  opacity: 0;
  pointer-events: none !important;
  display: block !important;
  visibility: hidden !important;
}
.hidden {
  opacity: 0;
  pointer-events: none !important;
  display: block !important;
  visibility: hidden !important;
  transition: opacity 0.5s;
}
.visible {
  opacity: 1;
  pointer-events: auto !important;
  display: block !important;
  visibility: visible !important;
  transition: opacity 0.5s;
}
